<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939395904352-kegrh9amhp9per59ndp5199ns5linv23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939395904352-kegrh9amhp9per59ndp5199ns5linv23</string>
	<key>API_KEY</key>
	<string>AIzaSyDLllh9ImelhURnwH2ucR6RvgncxK8etvo</string>
	<key>GCM_SENDER_ID</key>
	<string>939395904352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutteryomeyahackathon</string>
	<key>PROJECT_ID</key>
	<string>flutteryomeyahackathon</string>
	<key>STORAGE_BUCKET</key>
	<string>flutteryomeyahackathon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939395904352:ios:3f750b37c1107ab199a405</string>
	<key>DATABASE_URL</key>
	<string>https://flutteryomeyahackathon.firebaseio.com</string>
</dict>
</plist>